<div class="main">
<div class="top_page">

<div class="header">
  <div class="title">Task</div>
  <div class="youkoso">〜さんようこそ</div>
  <div class="login">ログイン</div>
  <div class="logout">ログアウト</div>
</div>


<div class="task_itiran">

  <div class="kako">
  <div class="kigen_title">期限過ぎ</div>
  <%= form_tag({ controller: :tasks, action: :destroy_multiple }, method: :delete) do %>
    <% @tasks.each do |task| %>
      <% if task.date < Date.today %>
        <div class="task_contents">
          <%= check_box_tag 'task_ids[]', task.id %>
          <%= task.date.strftime("%m/%d") %>
          <%= task.title %>
        </div>
      <% end %>
    <% end %>
    <%= submit_tag "完了", class: "task_contents_bottan" %>
  <% end %>
  </div>

  <div class="honzitu">
  <div class="kigen_title">本日のタスク</div>
  <%= form_tag({ controller: :tasks, action: :destroy_multiple }, method: :delete) do %>
    <% @tasks.each do |task| %>
      <% if task.date == Date.today %>
        <div class="task_contents">
          <%= check_box_tag 'task_ids[]', task.id %>
          <%= task.date.strftime("%m/%d") %>
          <%= task.title %>
        </div>
      <% end %>
    <% end %>
    <%= submit_tag "完了", class: "task_contents_bottan" %>
  <% end %>
</div>

  <div class="mirai">
  <div class="kigen_title">今後のタスク</div>
  <%= form_tag({ controller: :tasks, action: :destroy_multiple }, method: :delete) do %>
    <% @tasks.each do |task| %>
      <% if task.date > Date.today %>
        <div class="task_contents">
          <%= check_box_tag 'task_ids[]', task.id %>
          <%= task.date.strftime("%m/%d") %>
          <%= task.title %>
        </div>
      <% end %>
    <% end %>
    <%= submit_tag "完了", class: "task_contents_bottan" %>
  <% end %>
  </div>

</div>

<div class="footer">
  <div class="task_form">
    <form action="/tasks" method="post">
      <input type="date" name="date" value="<%= Date.today.to_s %>" required>
      <input type="text" name="title" placeholder="タスク" required>
      <button type="submit">投稿</button>
    </form>
  </div>
</div>

</div>
</div>
